# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.env
.openode

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# credentials
.credentials/
client_secret.json
service_secret.json
google_service.pem

# NPM packages folder.
node_modules/

tmp/

# Bower stuff.
bower_components/
